<!DOCTYPE html>
<html>
  <head>
    <title>Ball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="title">Each cookie is assigned either a Red or Blue circle at random
    and also keeps track of the counts (page loads)</div>
    <%= yield %>
  </body>
</html>
